@charset "ISO-8859-1";

.h1-25 {
	margin-top : 25px;
}

table {
	border-collapse : collapse;
}

tr, th, td {
	border : 1px solid #000;
	padding : 15px;
}

input[type="submit"], input[type="reset"] {
	padding : 25px;
	margin-left: 30px;
}

.errorField {
	color : red;
	font-size : 15px;
}